<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <!-- TODO: CHANGE REFERENCEES BELOW SO THEY WROK WITH ROCKET -->
  <link rel="stylesheet" href="dash_styles.css">
  <link rel="icon", href="static/favicon.png">
  <!-- get some niiice fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <script defer src="dashboard/dashboard.js"></script>
</head>

<body>
  <main id="main-holder">
    <h1 id="title" class="main-header">Cases Overview</h1>
    <div id="container-a" class="biographical-display">
      <!-- will have to adjust the below to display a default placeholder or get from user profile -->
      <!-- TODO: FIX THE BELOW PATH BEFORE RUNNING THIS -->
      <div id="container-a1" class="image-wrapper">
        <img src="moondog.png" id="img-a" class="profile-picture">
      </div>
      <div id="container-a2" class="text-wrapper">
        <span id="text-a1" class="name-degree-text">{{ firstname }} {{lastname}} {{degree}} </span> 
        <span id="text-a2" class="training-level-text">R{{ training_year }}</span> 
      </div>
    </div>

    <div id="container-d" class="flexbox-holder">

      <div id="container-b" class="data-display">
        <div id="container-b3" class="header-container">
          <h2 id="h2-b" class="subsection-display-header">Experience by Subspecialty</h2>
          <span id="text-b1" class="daterange-header">{{start_date}} - {{end_date}}</span>
        </div>
        <div id="container-b1" class="donut-plot subspecialty-breakdown">Some content here</div>
        <div id="container-b2" class="plot-legend subspecialty-legend">
          <div id="container-c4" class="total-cases-display-container">
            <span id="text-c2" class="total-cases-display-text">Total Cases:</span>
            <span id="text-c3" class="total-cases-display-number">{{ total_cases }}</span>
          </div>
          <ul id="list-b1" class="plot-categories-list">
            <li id="list-element-b1" class="plot-categories-list-element">
              <span class="plot-categories-list-category">Chest</span>
              <span id="text-b4" class="plot-categories-list-element-quantity">{{ n }}</span>
            <li id="list-element-b2" class="plot-categories-list-element">
              <span class="plot-categories-list-category">Body</span>
              <span id="text-b5" class="plot-categories-list-element-quantity">{{ n }}</span>
            <li id="list-element-b3" class="plot-categories-list-element">
              <span class="plot-categories-list-category">Neuro</span>
              <span id="text-b6" class="plot-categories-list-element-quantity">{{ n }}</span>
            <li id="list-element-b4" class="plot-categories-list-element">
              <span class="plot-categories-list-category">Breast</span>
              <span id="text-b7" class="plot-categories-list-element-quantity">{{ n }}</span>
            <li id="list-element-b5" class="plot-categories-list-element">
              <span class="plot-categories-list-category">Nuclear</span>
              <span id="text-b8" class="plot-categories-list-element-quantity">{{ n }}</span>
            <li id="list-element-b6" class="plot-categories-list-element">
              <span class="plot-categories-list-category">MSK</span>
              <span id="text-b9" class="plot-categories-list-element-quantity">{{ n }}</span>
            </li>
          </ul>
        </div>
      </div>

      <div id="container-c" class="data-display">
        <div id="container-c3", class="header-container">
          <h2 id="h2-c" class="subsection-display-header">Experience by Modality</h2>
          <span id="text-c1" class="daterange-header">{{start_date}} - {{end_date}}</span>
        </div>
        <div id="container-c1" class="donut-plot modality-breakdown">Some content here</div>
        <div id="container-c2" class="plot-legend modality-legend">
          <div id="container-c4" class="total-cases-display-container">
            <span id="text-c2" class="total-cases-display-text">Total Cases:</span>
            <span id="text-c3" class="total-cases-display-number">{{ total_cases }}</span>
          </div>
          <ul id="list-c1" class="plot-categories-list">
            <li id="list-element-c1" class="plot-categories-list-element">
              <span class="plot-categories-list-category">MRI</span>
              <span id="text-c4" class="plot-categories-list-element-quantity">{{ n }}</span>
            <li id="list-element-c2" class="plot-categories-list-element">
              <span class="plot-categories-list-category">Fluoro</span>
              <span id="text-c5" class="plot-categories-list-element-quantity">{{ n }}</span>
            <li id="list-element-c3" class="plot-categories-list-element">
              <span class="plot-categories-list-category">Ultrasound</span>
              <span id="text-c6" class="plot-categories-list-element-quantity">{{ n }}</span>
            <li id="list-element-c4" class="plot-categories-list-element">
              <span class="plot-categories-list-category">SPECT</span>
              <span id="text-c7" class="plot-categories-list-element-quantity">{{ n }}</span>
            <li id="list-element-c5" class="plot-categories-list-element">
              <span class="plot-categories-list-category">XR</span>
              <span id="text-c8" class="plot-categories-list-element-quantity">{{ n }}</span>
            <li id="list-element-c6" class="plot-categories-list-element">
              <span class="plot-categories-list-category">PET</span>
              <span id="text-c9" class="plot-categories-list-element-quantity">{{ n }}</span>
            <li id="list-element-c7" class="plot-categories-list-element">
              <span class="plot-categories-list-category">CT</span>
              <span id="text-c10" class="plot-categories-list-element-quantity">{{ n }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </main>
</body>

</html>
