<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="dashboard/dash_styles.css">
  <link rel="icon", href="static/favicon.png">
  <script defer src="dashboard/dashboard.js"></script>
</head>

<body>
  <main id="main-holder">
    <span id="welcome-text">Welcome {{ username }}</span>
  </main>
</body>

</html>
